.slick-arrow {
  &::before {
    color: var(--primary) !important
  }
}

.slick-next {
  left: -40px !important
}

.slick-prev {
  right: -40px !important
}

.bottom-slider {

  .slick-slide {
    border: 5px solid #f2f6fc;
    width: 60px !important;
    height: 60px !important;
    border-radius: 8px;
    margin: 0 10px;
  }

  .slick-track {
    display: flex;
    justify-content: center;
  }

  .slick-current {
    border: 5px solid var(--primary)
  }

}
