@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f2f6fc;
}


body {
  background: var(--background);
}

.container {
  max-width: 1300px;
  margin: 0 auto;
  width: 90vw;
}
