@use "./[lang]/product/[id]/product";
@use "../../src/components/loader/loader";
@use "../../src/components/loader/categoryLoader";
@use "../../src/components/ticketShapedCard/slider";

@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  max-width: 1300px;
  margin: 0 auto;
  width: 90vw;

  /* Firefox */
  input[type='number'] {
    -moz-appearance: textfield;
  }

  // override svg sizes from lucid
  .\[\&_svg\]\:size-4 svg {
    width: 1.5rem !important;
    height: 1.5rem !important;
  }


}

// remove number input arrows
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }

}

.wishListed {
  background-color: #e11659;
  color: #fff;
}
