@use "./[lang]/product/[id]/product";
@use "../../src/components/loader/loader";

@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  max-width: 1300px;
  margin: 0 auto;
  width: 90vw;

  /* Firefox */
  input[type='number'] {
    -moz-appearance: textfield;
  }



}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }

}
